@import url(../../../../styles.scss);
@import "~@fortawesome/fontawesome-free/css/all.min.css";

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.navbar-toggler {
  border: none !important;
}
.navbar-toggler:focus {
  box-shadow: none !important;
}

nav > div {
  margin: .25em auto;
}

.nav-item a {
  font-size: 1rem;
  color: #2b2b2b;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}
.nav-item a:hover {
  color: var(--blueviolet-colors-oficial);
}

.navbar-nav .dropdown:hover .dropdown-menu {
  display: block;
  left: -70px !important;
}

/* .dropdown-menu[data-bs-popper] {
  left: -70px !important;
} */

.icon-menu {
  color: var(--blueviolet-colors-oficial);
  font-size: 2rem;
}

.link-submenu {
  cursor: pointer;
}

.item-university,
.item-special,
.item-community,
.item-student,
.item-medical {
  color: #2b2b2b;
  padding: 0.8em;
  border-radius: 10px;
}

li .item-university:hover {
  color: white;
  background-color: var(--green-colors-icon-university);
}
li .item-special:hover {
  color: white;
  background-color: var(--yellow-colors-icon-special);
}
li .item-community:hover {
  color: white;
  background-color: var(--orange-color-icon-community);
}
li .item-student:hover {
  color: white;
  background-color: var(--green-colors-icon-students-mission);
}
li .item-medical:hover {
  color: white;
  background-color: var(--blueviolet-colors-oficial);
}

/* .modal {
  position: absolute;
  z-index: 9991;
} */

.btn-login {
  color: #2b2b2b;
  background-color: white;
  border: 0.2px solid #2b2b2b;
  border-radius: 10px;
  text-transform: capitalize;
  font-size: 1.1rem;
  font-weight: 500;
}

.btn-login:hover {
  color: white;
  background-color: var(--blueviolet-colors-oficial);
  border: 1px solid var(--blueviolet-colors-oficial);
}

.btn,
.donate-btn .btn-primary {
  font-family: var(--Inter-text-body-font-family);
  background-color: var(--blue-colors-buttom);
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 50px;
  border: none;
}

.disabled-item_navbar {
  pointer-events: none;
  color: #c9c9c9;
  opacity: 30%;
}

.item-project {
  font-family: "Oswald", sans-serif;
  font-weight: 800;
  font-size: 2rem;
  text-transform: uppercase;
  color: #00bf1b;
}

/* OffCanvas Mobile Start */
div#offcanvasResponsive {
  max-width: 85vw;
}

.offcanvas-header {
  display: block;
}

.offcanvas-header > div {
  gap: 2.2rem;
}

.offcanvas-body {
  overflow-x: hidden;
}

a.icons-contact {
  height: 35px;
  display: flex;
  align-items: center;
}

.icons-contact svg {
  width: 20px;
  transition: .2s ease all;
  circle {
    fill: var(--blueviolet-colors-oficial);
  }
}

.content-social-icons {
  border: 2px solid var(--blueviolet-colors-oficial);
  border-radius: 50px;
  padding: .5px 12px;
}

.separator-mobile {
  position: relative;
  right: -25px;
  width: 322px;
  border: 1.2px solid black;
}

a.nav-link.active {
  color: var(--blue-colors-buttom);
}

.donate-container {
  background-color: var(--language-colors-buttom);
  height: 90px;
  /* padding-left: 2.5rem; */
}

.list-group-item {
  margin: 1.5rem 0;
}
.list-group-item > a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #2b2b2b;
}

.offcanvas-backdrop.show {
  opacity: .1 !important;
}

/* OffCanvas Mobile End */

.navbar-mobile {
  background-color: var(--blueviolet-colors-oficial);
  height: 100vh;
}

.item-mobile a {
  color: white;
  font-size: 1.3rem;
  text-transform: uppercase;
  padding: 0.5rem 0;
}
.item-mobile a:hover {
  color: white;
}

.logo-footer > a > img {
  width: 120px;
  height: auto;
  filter: invert(1);
}

.project-links > h5 {
  color: #00bf1b;
  font-weight: bold;
  text-transform: uppercase;
}

.social-icon {
  width: 30px;
  max-width: 100%;
}

.form-floating>.form-control, .form-floating>.form-control-plaintext, .form-floating>.form-select {
  height: calc(2.2rem + calc(var(--bs-border-width) * 2));
  min-height: calc(2rem + calc(var(--bs-border-width) * 2));
}

select#floatingSelectGrid {
  font-weight: 500;
}

.form-select {
  background-color: var(--language-colors-buttom);
  border-radius: 50px;
}

.form-select:focus {
  border-color: none;
  box-shadow: none;
}

.option-lang {
  padding: .5em 1em;
}


/* Heart Animation Start */

.heart-vector {
  transition: ease all;
}

#hover-link:hover .heart-vector {
  animation: pulseHeart 1.5s ease-in-out;
}

@keyframes pulseHeart {
  0% {
    transform: scale(1) rotate(0deg);
    opacity: 1;
  }
  20% {
    transform: rotate(-25deg);
  }
  30% {
    transform: rotate(20deg);
  }
  50% {
    transform: scale(1.5) rotate(45deg);
    opacity: 0.7;
  }
  100% {
    transform: scale(1) rotate(0deg);
    opacity: 1;
  }
}

/* Heart Animation End */

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .offcanvas-header > div {
    gap: 6rem;
  }

  .separator-mobile {
    width: 360px;
  }
}

/* Mobile Styles */

@media (max-width: 575.98px) {
  .btn-login {
    color: white;
    background-color: transparent;
    border: 0.2px solid white;
    border-radius: 10px;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 600;
  }

  a.nav-link.active::before {
    content: '';
    background: var(--blueviolet-colors-oficial);
    height: 30px;
    width: 5.5px;
    position: absolute;
    left: -40px;
  }
}

a.nav-link.active {
  color: var(--blueviolet-colors-oficial) !important;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
}

/* iPad Styles */
@media (min-width: 768px) and (max-width: 991.98px) {
  a.nav-link.active::before {
    content: '';
    background: var(--blueviolet-colors-oficial);
    height: 30px;
    width: 5.5px;
    position: absolute;
    left: -40px;
  }

}
