<div class="row">
    <div class="col-12">
      <div class="multisteps-form mb-5">
        <!--form panels-->
        <div class="row">
          <div class="col-12 col-lg-8 m-auto">
            <form [formGroup]="newUserForm" (submit)="onSubmited()" role="form" class="multisteps-form__form mb-8">
              <!--single form panel-->
              <div class="card multisteps-form__panel p-3 border-radius-xl bg-white js-active" data-animation="FadeIn">
                <h5 class="font-weight-bolder mb-0">About new user</h5>
                <p class="mb-0 text-sm">Mandatory informations</p>
                <div class="multisteps-form__content">
                  <div class="row">
                    <div class="col-8">
                      <div class="row mt-3">
                        <div class="col-12 col-sm-6">
                          <label>Complete Name</label>
                          <input class="multisteps-form__input form-control" type="text" placeholder="eg. John Michael" id="UserName" formControlName="userName" required />
                        </div>
                      </div>
                      <div class="row mt-3">
                        <div class="col-12 col-sm-6 mt-3 mt-sm-0">
                          <label>Email Address</label>
                          <input class="multisteps-form__input form-control" type="email" placeholder="eg. soft@dashboard.com" id="Email" formControlName="email" required />
                        </div>
                      </div>
                      <div class="row mt-3">
                        <div class="col-12 col-sm-6">
                            <label for="exampleFormControlSelect1">Role</label>
                            <select class="form-control" id="Role" formControlName="roleId" (change)="updateRoleSelector($event)" required>
                                <option *ngFor="let role of roles" value="{{ role.id }}">{{ role.name }}</option>
                            </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="row mt-3">
                        <div class="col-12">
                          <label>Product images</label>
                          <div action="/file-upload" class="form-control dropzone" id="productImg"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  <div class="button-row d-flex mt-4">
                    <button class="btn bg-gradient-dark ms-auto mb-0 js-btn-next" type="submit" [disabled]="loading">Save</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
