# From .NET Core 3.0 you can use the command: `dotnet new gitignore` to generate a customizable .gitignore file

*.swp
*.*~
project.lock.json
.DS_Store
*.pyc

# Visual Studio Code
.vscode

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2015
.vs/
HN.Management.Web/.vs/HN.Management.Web/v16/
HN.Management.Web/HN.Management.Web/bin
HN.Management.Web/HN.Management.Web/obj
HN.Management.Web/HN.Management.Engine/bin
HN.Management.Web/HN.Management.Engine/obj
HN.Management.Web/HN.Management.Manager/bin
HN.Management.Web/HN.Management.Manager/obj
/HN.Management.Web/.vs
/HN.Management.Web/HN.Management.Engine/obj/HN.Management.Engine.csproj.nuget.dgspec.json
/HN.Management.Web/HN.Management.Engine/obj/HN.Management.Engine.csproj.nuget.g.props
/HN.Management.Web/HN.Management.Engine/obj/HN.Management.Engine.csproj.nuget.g.targets
/HN.Management.Web/HN.Management.Engine/obj/project.assets.json
/HN.Management.Web/HN.Management.Engine/obj/project.nuget.cache
/HN.Management.Web/HN.Management.Manager/obj/HN.Management.Manager.csproj.nuget.dgspec.json
/HN.Management.Web/HN.Management.Manager/obj/HN.Management.Manager.csproj.nuget.g.props
/HN.Management.Web/HN.Management.Manager/obj/HN.Management.Manager.csproj.nuget.g.targets
/HN.Management.Web/HN.Management.Manager/obj/project.assets.json
/HN.Management.Web/HN.Management.Manager/obj/project.nuget.cache
/HN.Management.Web/HN.Management.Web/obj/HN.Management.Web.csproj.nuget.dgspec.json
/HN.Management.Web/HN.Management.Web/obj/HN.Management.Web.csproj.nuget.g.props
/HN.Management.Web/HN.Management.Web/obj/HN.Management.Web.csproj.nuget.g.targets
/HN.Management.Web/HN.Management.Web/obj/project.assets.json
/HN.Management.Web/HN.Management.Web/obj/project.nuget.cache
HN.Management.Web/crezco-foundation/dist
HN.Management.Web/HN.Management.Admin/.angular
HN.Management.Web/HN.Management.Admin/.vscode
HN.Management.Web/HN.Management.Admin/node_modules

HN.Management.Web/HN.Management.Web/C:/Logs/structuredLog.json

HN.Management.Web/HN.Management.Web/C:/Logs/log.txt

HN.Management.Web/HN.Management.Web/ClientApp/.husky/

HN.Management.Web/HN.Management.Web/ClientApp/docs/

HN.Management.Web/HN.Management.Web/ClientApp/workflows/

HN.Management.Web/HN.Management.Web/ClientApp/dist/

HN.Management.Web/node_modules/
/HN.Management.Web/.vs/HN.Management.Web/DesignTimeBuild/.dtbcache.v2
/HN.Management.Web/HN.Management.Web/ClientApp/package-lock.json
HN.Management.Web/HN.Management.Admin/.angular/cache/
