/* @import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap"); */
@import url(../../../../styles.scss);

.banner-university {
  width: 100%;
}

.title-project h2 {
  font-size: 56px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--basic-colors-black);
}

.title-project h3 {
  font-size: 42px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--basic-colors-black);
}

.description-project {
  font-family: Inter;
  font-size: 1.3rem;
  font-style: normal;
  line-height: 1.5em;
  max-width: 74%;
}

.btn,
.donate-btn .btn-primary {
  font-family: var(--Inter-text-body-font-family);
  background-color: var(--blue-colors-buttom);
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 50px;
  border: none;
}

.image-box img {
  width: 450px;
  max-width: 100%;
}

/* Heart Animation Start */

.heart-vector {
  transition: ease all;
}

#hover-link:hover .heart-vector {
  animation: pulseHeart 1.5s ease-in-out;
}

@keyframes pulseHeart {
  0% {
    transform: scale(1) rotate(0deg);
    opacity: 1;
  }

  20% {
    transform: rotate(-25deg);
  }

  30% {
    transform: rotate(20deg);
  }

  50% {
    transform: scale(1.5) rotate(45deg);
    opacity: 0.7;
  }

  100% {
    transform: scale(1) rotate(0deg);
    opacity: 1;
  }
}

/* Heart Animation End */

div>.author-font span {
  font-family: Inter;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
}

.text-box {

  /* padding: 10em; */
  .title-box h3 {
    font-size: 35px;
    font-family: var(--Inter-text-body-font-family);
    text-transform: uppercase;
    font-weight: 600;
    text-align: left;
  }

  .description-box p {
    line-height: 1.8rem;
    font-size: 1.3rem;
    text-align: left;
  }
}

section {
  overflow-x: hidden;
}

/* Paragraph Section Start */
.section-paragraph {
  background-color: var(--colors-gray-bg);
}

.img-quote {
  width: 1700px;
  max-width: 100%;
}

.img-gallery {
  width: 1200px;
  max-width: 100%;
}

/* Paragraph Section End */

/* Cards Projects Styles Start */
.card {
  transition: ease 0.3s all;
  border: none;
}

.card-body {
  border: 1px solid #9E9E9E;
  border-radius: 90px 24.45px 24.45px 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: .2s ease all;
}

.card-body:hover {
  transform: scale(1.03);
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.card-body-content {
  width: 160px;
  padding: .5em 0;
}

.card-title {
  font-size: 24px;
  color: var(--basic-colors-black);
  font-family: var(--Inter-text-body-font-family);
  text-transform: capitalize;
  font-weight: 600;
  margin-bottom: .5em;
  max-width: 200px;
}

.card-text {
  font-size: 17px;
  font-weight: normal;
  color: var(--basic-colors-black);
  height: 100px;
}

.link-card {
  color: var(--blue-colors-buttom);
}

.card-img-top {
  width: 150px;
  /* position: absolute;
  z-index: 5; */
  /* left: 400px; */
}


.cards-container {
  overflow: visible;
}

/* Cards Projects Styles End */

.rounded-3 {
  border-radius: 20px !important;
}

// Media Queries mobile

@media only screen and (max-width: 768px) {
  .title-project h2 {
    font-size: 45px;
  }

  .title-project h3 {
    font-size: 32px;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--basic-colors-black);
  }

  .description-project {
    max-width: 90%;
    font-size: 1.15rem;
  }

  .btn,
  .donate-btn .btn-primary {
    padding: 1em 8em !important;
  }

  /* Paragraph Section Start */
  .section-paragraph {
    background-color: var(--colors-gray-bg);
  }

  .img-quote {
    width: 1700px;
    max-width: 200%;
  }

  .img-gallery {
    width: 1200px;
    max-width: 100%;
  }

  /* Paragraph Section End */

  .card-body-content {
    width: 160px;
    padding: .5em 0;
  }

  /* .card-text {
    height: 80px;
  } */

  div>.author-font span {
    font-size: 1.1rem;
  }

  .text-box {

    /* padding: 2em; */
    .title-box h3 {
      text-align: center;
    }

    .description-box p {
      text-align: center;
      font-size: 1.15rem;
    }
  }

  .image-box img {
    width: 250px;
    max-width: 100%;
  }

  .rounded-3 {
    border-radius: 10px !important;
  }
}

@media only screen and (max-width: 768px) {}
