<app-full-page-carousel></app-full-page-carousel>
<!-- Projects Section Start -->
<section class="container-fluid p-0 section-projects_card">
  <div class="text-center title-box my-5">
    <h3 class="text-center">Our Projects</h3>
  </div>
  <div
    class="container-fluid d-flex flex-row flex-lg-column align-items-center justify-content-start justify-content-lg-center mb-5 gap-4 cards-container"
  >
    <div
      class="d-flex align-items-center justify-content-start justify-content-lg-center gap-4"
    >
      <a
        [routerLink]="['/projects/special-education']"
        class="text-decoration-none ps-3 ps-lg-0"
      >
        <div
          class="card col rounded-3 pb-2"
          style="width: 20rem; background-color: #00bf1b"
        >
          <img
            src="../../assets/Image/Home-accordion/mobile-img/College.webp"
            class="card-img-top rounded-3"
            alt="img-project"
          />
          <div class="card-body">
            <h4 class="card-title text-white">University<br />Sponsorship</h4>
            <p class="card-text text-white fs-5">
              Cycles of poverty are broken through higher educational
              opportunities. Students in our...
            </p>
            <a
              [routerLink]="['/projects/special-education']"
              class="text-white text-decoration-none link-card"
            >
              Learn More <i class="ms-1 fa-solid fa-arrow-right text-white"></i>
            </a>
          </div>
        </div>
      </a>
      <a
        [routerLink]="['/projects/special-education']"
        class="text-decoration-none"
      >
        <div
          class="card col rounded-3 pb-2"
          style="width: 20rem; background-color: #6f00aa"
        >
          <img
            src="../../assets/Image/Home-accordion/mobile-img/Special_Education.webp"
            class="card-img-top rounded-3"
            alt="img-project"
          />
          <div class="card-body">
            <h4 class="card-title text-white">Special<br />Education</h4>
            <p class="card-text text-white fs-5">
              At Crezco, we firmly believe that one size does not fit all when
              it comes to education...
            </p>
            <a
              [routerLink]="['/projects/special-education']"
              class="text-white text-decoration-none link-card"
            >
              Learn More <i class="ms-1 fa-solid fa-arrow-right text-white"></i>
            </a>
          </div>
        </div>
      </a>
      <a
        [routerLink]="['/projects/community-support']"
        class="text-decoration-none"
      >
        <div
          class="card col rounded-3 pb-2"
          style="width: 20rem; background-color: #f48e08"
        >
          <img
            src="../../assets/Image/Home-accordion/mobile-img/Community_Support.webp"
            class="card-img-top rounded-3"
            alt="img-project"
          />
          <div class="card-body">
            <h4 class="card-title text-white">Community<br />Support</h4>
            <p class="card-text text-white fs-5">
              Attending the needs of the local community allows Crezco to be a
              light in the world...
            </p>
            <a
              [routerLink]="['/projects/community-support']"
              class="text-white text-decoration-none link-card"
            >
              Learn More <i class="ms-1 fa-solid fa-arrow-right text-white"></i>
            </a>
          </div>
        </div>
      </a>
    </div>
    <div
      class="d-flex align-items-center justify-content-start justify-content-lg-center gap-4"
    >
      <a [routerLink]="['/projects/mission-trip']" class="text-decoration-none">
        <div
          class="card col rounded-3 pb-2"
          style="width: 20rem; background-color: #00bf1b"
        >
          <img
            src="../../assets/Image/Home-accordion/mobile-img/Student_Trips.webp"
            class="card-img-top rounded-3"
            alt="img-project"
          />
          <div class="card-body">
            <h4 class="card-title text-white">Student<br />Mission Trips</h4>
            <p class="card-text text-white fs-5">
              The Crezco Student Mission Trip Program is centered on fostering a
              deep sense of...
            </p>
            <a
              [routerLink]="['/projects/mission-trip']"
              class="text-white text-decoration-none link-card"
            >
              Learn More <i class="ms-1 fa-solid fa-arrow-right text-white"></i>
            </a>
          </div>
        </div>
      </a>
      <a
        [routerLink]="['/projects/medical-assistance']"
        class="text-decoration-none pe-3 pe-lg-0"
      >
        <div
          class="card col rounded-3 pb-2"
          style="width: 20rem; background-color: #6f00aa"
        >
          <img
            src="../../assets/Image/Home-accordion/mobile-img/Medical_Assistance.webp"
            class="card-img-top rounded-3"
            alt="img-project"
          />
          <div class="card-body">
            <h4 class="card-title text-white">Medical<br />Assistance</h4>
            <p class="card-text text-white fs-5">
              Crezco's Medical Assistance Program serves as a source of hope for
              families facing...
            </p>
            <a
              [routerLink]="['/projects/medical-assistance']"
              class="text-white text-decoration-none link-card"
            >
              Learn More <i class="ms-1 fa-solid fa-arrow-right text-white"></i>
            </a>
          </div>
        </div>
      </a>
    </div>
  </div>
</section>
<!-- Projects Section End -->

<!-- Pray Section Start -->
<section>
  <div class="container-fluid pray-section d-flex flex-column gap-5">
    <div class="container mt-4">
      <div
        class="d-flex flex-column flex-lg-row align-items-center justify-content-center gap-5"
      >
        <div
          class="d-flex align-items-end justify-content-end"
          data-aos="fade-up"
        >
          <img
            class="pray-img"
            src="../assets/Image/Home-accordion/pray-section/pray-section.webp"
            alt="Pray with us image"
          />
        </div>
        <div
          data-aos="fade-up"
          data-aos-offset="300"
          class="text-center text-lg-start col-12 col-lg-4 d-flex flex-column gap-3 justify-content-center align-items-lg-start align-items-center fs-5"
        >
          <p>
            Join us in praying for Crezco's ministry: our programs, program
            participants, the communities we work in, and our volunteers.
          </p>
          <a
            [routerLink]="['/']"
            routerLinkActive="router-link-active"
            class="donate-btn"
            ><button class="btn btn-primary py-2 px-3 mb-3">
              DOWNLOAD CALENDAR
            </button></a
          >
          <p>
            Sign up for our annual newsletter with program updates and prayer
            requests.
          </p>
          <form
            [formGroup]="newsletterForm"
            (ngSubmit)="onSubmited()"
            class="d-flex align-items-center justify-content-center"
          >
            <input
              type="email"
              placeholder="Email Address"
              class="input-email"
              formControlName="email"
              required
            />
            <a>
              <button
              type="submit"
              [disabled]="!newsletterForm.valid"
              class="btn-email">
                <img
                  src="../assets/Image/Home-accordion/pray-section/arrow-right-circle.webp"
                  alt="icon arrow"
                />
              </button>
            </a>
          </form>
        </div>
      </div>
    </div>
    <div class="container mb-4">
      <div
        class="d-flex flex-column-reverse flex-lg-row align-items-center justify-content-center gap-3"
      >
        <div
          data-aos="fade-up"
          class="text-center text-lg-start col-12 col-lg-4 d-flex flex-column gap-3 justify-content-center align-items-lg-start align-items-center fs-5"
        >
          <h3 class="volunteers-title">ADMINISTRATIVE SUPPORT</h3>
          <p>
            Crezco is in need of volunteers in a variety of areas including
            accounting, secretary work, and travel management. Contact us for
            more information.
          </p>
          <h3 class="volunteers-title">DONATION CAMPAIGNS</h3>
          <p>
            Support our donation campaigns & special projects. Spread the word
            to other potential sponsors and donors. Get your church, school, or
            small group involved! Campaigns are both in-kind and monetary.
            Contact us for more information.
          </p>
          <a [routerLink]="['/contact-us']" class="donate-btn"
            ><button class="btn btn-primary py-2 px-5 py-lg-2 px-lg-3 mb-3">
              CONTACT US
            </button></a
          >
        </div>
        <div
          data-aos="fade-up"
          data-aos-offset="300"
          class="d-flex align-items-end justify-content-end"
        >
          <img
            class="pray-img"
            src="../assets/Image/Home-accordion/pray-section/volunteers.webp"
            alt="Pray with us image"
          />
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Pray Section Start -->
