
<!-- ======= Hero Section ======= -->
<div class="container-fluid p-0">
  <div
    class="d-flex align-items-center justify-content-center overflow-hidden mt-5 mt-lg-5"
  >
    <div class="home-banner">
      <img
        class="d-none d-lg-block mt-3"
        src="../../assets/Image/Home-accordion/hero-banner.webp"
        alt="Hero banner Image"
      />
      <img
        class="d-block d-lg-none mt-3"
        src="../../assets/Image/Home-accordion/Hero-mobile.webp"
        alt="Hero banner Image"
      />
    </div>
    <div class="d-flex flex-column content-hero gap-4 gap-lg-3">
      <h1 class="text-center text-white">Crezco Foundation</h1>
      <div
      class="d-flex flex-column align-items-center justify-content-center gap-4 gap-lg-3 text-center"
      >
        <p class="text-center text-white text-content_hero col-10 col-lg-6">{{ 'PAGE_HOME.subtitle_home' | translate }}</p>
        <!-- <p class="text-center text-white text-content_hero col-10 col-lg-6">
          Aims to provide resources that support growth for at-risk children by
          through educational opportunities, and by addressing negative family
          patterns.
        </p> -->
        <a class="donate-btn"
          ><button
            class="btn btn-primary py-2 px-5 py-lg-2 px-lg-3 mb-3"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
          >
            {{ 'PAGE_HOME.Donate' | translate }}
          </button></a
        >
      </div>
    </div>
  </div>
</div>
