<div class="container" style="margin-top: 5rem !important; margin-bottom: 5rem !important;">
    <form class="row g-3" [formGroup]="addUserForm" (ngSubmit)="onAddUser()">
        <div class="col-md-4">
          <label for="userFirstName" class="form-label">First name</label>
          <input id="userFirstName" formControlName="userFirstName" type="text" class="form-control" value="Mark" required>
        </div>
        <div class="col-md-4">
          <label for="userLastName" class="form-label">Last name</label>
          <input id="userLastName" formControlName="userLastName" type="text" class="form-control" value="Otto" required>
        </div>
        <div class="col-md-4">
          <label for="userEmail" class="form-label">Email</label>
          <input id="userEmail" formControlName="userEmail" type="email" class="form-control" required>
        </div>
        <div class="col-md-4">
          <label for="userRole" class="form-label">Role</label>
          <select class="form-select" id="userRole" formControlName="userRole" required>
            <option selected disabled value="">Choose...</option>
            <option *ngFor="let role of roles">{{ role.name }}</option>
          </select>
        </div>
        <div class="col-12">
          <button class="btn btn-primary" type="submit">Submit form</button>
        </div>
      </form>
</div>
