<!-- Image banner section start -->
<section class="container-fluid p-0">
  <div class="d-none d-lg-block mt-5">
    <img class="banner-special-education mt-3"
      src="../../assets/Image/Projects-images/community-support/banner_community.webp"
      alt="Special Education banner" />
  </div>
  <div class="d-block d-lg-none pt-5 mt-2">
    <img class="banner-special-education"
      src="../../assets/Image/Projects-images/community-support/banner_community-mobile.webp"
      alt="Special Education banner" />
  </div>
</section>
<!-- Image banner section end -->

<!-- Description section start -->
<section class="container p-0 my-5 py-lg-3">
  <div class="title-project">
    <h2 class="text-center">{{ 'NAVBAR.Projects.Project_3' | translate }}</h2>
  </div>
  <div class="d-flex flex-column align-items-center justify-content-center my-4 row">
    <p class="text-center description-project">
      {{ 'PAGE_PROJECTS.Community_support.Paragraph_1' | translate }}
    </p>
  </div>
  <div class="d-flex flex-column align-items-center justify-content-center mt-4">
    <a class="donate-btn" id="hover-link">
      <button class="btn btn-primary py-3 px-5 py-lg-2 px-lg-3" data-bs-toggle="modal"
        data-bs-target="#exampleModal">
        {{ 'PAGE_HOME.Donate' | translate }}
        <img class="ms-1 heart-vector" src="../../../assets/Image/home-page/heart-vector.svg" alt="heart-vector">
      </button>
    </a>
  </div>
</section>
<!-- Description section end -->

<!-- Boxes section start -->
<section class="container-fluid p-0 my-lg-5">
  <div class="d-flex flex-column-reverse flex-lg-row container my-4">
    <div class="d-flex flex-column align-items-center justify-content-center gap-3 p-4 col">
      <div class="col-lg-10 col-12 text-box">
        <div class="title-box mb-4">
          <h3 class="text-center text-lg-start">{{ 'PAGE_PROJECTS.Community_support.Subjects.subject_1.title' | translate }}</h3>
        </div>
        <div class="description-box">
          <p class="text-center text-lg-start">
            {{ 'PAGE_PROJECTS.Community_support.Subjects.subject_1.description_1' | translate }}
          </p>
          <p class="text-center text-lg-start">
            {{ 'PAGE_PROJECTS.Community_support.Subjects.subject_1.description_2' | translate }}
          </p>
        </div>
      </div>
    </div>
    <div class="image-box col-lg-6 col-12 px-0 text-center">
      <img src="../../assets/Image/Projects-images/community-support/community_support-collaboration.webp" alt="Collaboration Image" />
    </div>
  </div>

  <div class="d-flex flex-column-reverse flex-lg-row-reverse container my-4">
    <div class="d-flex flex-column align-items-center justify-content-center gap-3 p-4 col">
      <div class="col-lg-10 col-12 text-box">
        <div class="title-box mb-4">
          <h3 class="text-center text-lg-start">{{ 'PAGE_PROJECTS.Community_support.Subjects.subject_2.title' | translate }}</h3>
        </div>
        <div class="description-box">
          <p class="text-center text-lg-start">
            {{ 'PAGE_PROJECTS.Community_support.Subjects.subject_2.description_1' | translate }}
          </p>
          <p class="text-center text-lg-start">
            {{ 'PAGE_PROJECTS.Community_support.Subjects.subject_2.description_2' | translate }}
          </p>
        </div>
      </div>
    </div>
    <div class="image-box col-lg-6 col-12 px-0 text-center">
      <img src="../../assets/Image/Projects-images/community-support/community_support-progress.webp" alt="Community Progress Image" />
    </div>
  </div>
</section>
<!-- Boxes section end -->

<!-- Banner section start -->
<shared-banner></shared-banner>
<!-- Banner section end -->

<!-- Paragraph Section Start -->
<section class="container-fluid section-paragraph">
  <div class="container">
    <div class="d-flex flex-column align-items-center justify-content-center my-lg-5">
      <img class="img-quote" src="/assets/Image/Projects-images/community-support/community_support-quote.webp" alt="Community Support Quote Image">
    </div>
  </div>
</section>
<!-- Paragraph Section End -->

<!-- Gallery Section Start -->
<section>
  <div class="container my-5 my-lg-0">
    <div class="d-flex flex-column align-items-center justify-content-center my-lg-5">
      <img class="img-gallery d-none d-lg-block" src="assets/Image/Projects-images/community-support/community_gallery.webp"
        alt="Special Education Gallery">
      <img class="img-gallery d-block d-lg-none" src="assets/Image/Projects-images/community-support/community_gallery-mobile.webp"
        alt="Special Education Gallery">
    </div>
  </div>
</section>
<!-- Gallery Section End -->

<!-- Projects Section Start -->
<section class="container-fluid p-0 section-projects_card">

  <div class="text-center d-flex flex-column align-items-center justify-content-center title-project my-5">
    <h3 class="text-center">{{ 'GENERAL.Other_projects' | translate }}</h3>
  </div>

  <div
    class="container col-lg-10 card-project d-flex flex-column justify-content-between align-items-center gap-3 gap-lg-5">
    <div class="d-flex flex-column flex-lg-row justify-content-evenly gap-3 mb-5">
      <a [routerLink]="['/projects/university']" class="text-decoration-none card-link">
        <div
          class="d-flex flex-row justify-content-center justify-content-lg-between align-items-center card-body gap-3 pe-3 pe-md-4">
          <div>
            <img src="../../../assets/Image/home-page/Cards-images/card-image-university.webp"
              class="card-img-top" alt="card-image-university" />
          </div>
          <div class="card-body-content d-flex flex-column align-items-start justify-content-center">
            <h4 class="card-title">{{ 'NAVBAR.Projects.Project_1' | translate }}</h4>
            <p class="card-text">
              {{ 'PAGE_PROJECTS.Special_education.Abreviation-mobile' | translate }}
            </p>
            <a [routerLink]="['/projects/university']" class="text-decoration-none link-card">
              {{ 'GENERAL.Learn_more' | translate }}
              <i class="ms-1 fa-solid fa-arrow-right"></i>
            </a>
          </div>
        </div>
      </a>

      <a [routerLink]="['/projects/special-education']" class="text-decoration-none card-link">
        <div
          class="d-flex flex-row justify-content-center justify-content-lg-between align-items-center card-body gap-3 pe-3 pe-md-4">
          <div>
            <img src="../../../assets/Image/home-page/Cards-images/card-image-special-education.webp" class="card-img-top"
              alt="card-image-special-education" />
          </div>
          <div class="card-body-content d-flex flex-column align-items-start justify-content-center">
            <h4 class="card-title">{{ 'NAVBAR.Projects.Project_2' | translate }}</h4>
            <p class="card-text">
              {{ 'PAGE_PROJECTS.Special_education.Abreviation-mobile' | translate }}
            </p>
            <a [routerLink]="['/projects/special-education']" class="text-decoration-none link-card">
              {{ 'GENERAL.Learn_more' | translate }}
              <i class="ms-1 fa-solid fa-arrow-right"></i>
            </a>
          </div>
        </div>
      </a>

      <a [routerLink]="['/projects/mission-trip']" class="text-decoration-none card-link">
        <div
          class="d-flex flex-row justify-content-center justify-content-lg-between align-items-center card-body gap-3 pe-3 pe-md-4">
          <div>
            <img src="../../../assets/Image/home-page/Cards-images/card-image-mission-trip.webp" class="card-img-top"
              alt="card-image-mission-trip" />
          </div>
          <div class="card-body-content d-flex flex-column align-items-start justify-content-center">
            <h4 class="card-title">{{ 'NAVBAR.Projects.Project_4' | translate }}</h4>
            <p class="card-text">
              {{ 'PAGE_PROJECTS.Student_mission.Abreviation-mobile' | translate }}
            </p>
            <a [routerLink]="['/projects/mission-trip']" class="text-decoration-none link-card">
              {{ 'GENERAL.Learn_more' | translate }}
              <i class="ms-1 fa-solid fa-arrow-right"></i>
            </a>
          </div>
        </div>
      </a>
    </div>
  </div>

</section>
<!-- Projects Section End -->

<!-- Contact Component Start -->
<!-- <app-contact-us></app-contact-us> -->
<!-- Contact Component End -->
