<section class="container-fluid p-0">
  <div class="d-none d-lg-block mt-5">
    <img
      class="banner-university mt-3"
      src="../../assets/Image/Projects-images/community-support/banner-community-support.webp"
      alt="University banner"
    />
  </div>
  <div class="d-block d-lg-none pt-5 mt-2">
    <img
      class="banner-university"
      src="../../assets/Image/Home-accordion/mobile-img/Community_Support.webp"
      alt="University banner"
    />
  </div>
</section>
<!-- Image banner section end -->

<!-- Description section start -->
<section class="container p-0 my-5 py-lg-3">
  <div class="title-project">
    <h2 class="text-center">{{ 'NAVBAR.Projects.Project_3' | translate }}</h2>
  </div>
  <div
    class="d-flex flex-column align-items-center justify-content-center my-4"
  >
    <p class="text-center description-project">
      {{ 'PAGE_PROJECTS.Community_support.Paragraph_1' | translate }}
    </p>
  </div>
  <div
    class="d-flex flex-column align-items-center justify-content-center mt-4"
  >
    <a class="donate-btn">
      <button
        class="btn btn-primary py-2 px-3"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
      >
      {{ 'PAGE_HOME.Donate' | translate }}
      </button>
    </a>
  </div>
</section>
<!-- Description section end -->

<!-- Collage photo section start -->
<section class="mt-5">
  <div
    class="d-flex align-items-center justify-content-center justify-content-lg-between gap-3 gap-lg-4 mb-0 mb-lg-4 flex-wrap flex-lg-nowrap"
  >
    <div class="image-example col-lg-4 col-5">
      <img
        class="rounded float-start"
        src="../../assets/Image/Projects-images/community-support/niña1.webp"
        alt=""
        data-bs-toggle="modal"
        data-bs-target="#exampleModal1"
      />
    </div>
    <!-- Modal Picture 1 -->
    <div
      class="modal fade"
      id="exampleModal1"
      tabindex="-1"
      aria-labelledby="exampleModalLabel1"
      aria-hidden="true"
    >
      <div
        class="modal-dialog modal-dialog-centered align-items-center justify-content-center"
      >
        <div class="text-center modal-image">
          <img
            src="../../assets/Image/Projects-images/community-support/niña1.webp"
            alt="image collage project"
          />
        </div>
      </div>
    </div>

    <div class="image-example col-lg-4 col-5">
      <img
        class="rounded mx-auto d-block"
        src="../../assets/Image/Projects-images/community-support/painting-wall.webp"
        alt=""
        data-bs-toggle="modal"
        data-bs-target="#exampleModal2"
      />
    </div>
    <!-- Modal Picture 2 -->
    <div
      class="modal fade"
      id="exampleModal2"
      tabindex="-1"
      aria-labelledby="exampleModalLabel2"
      aria-hidden="true"
    >
      <div
        class="modal-dialog modal-dialog-centered align-items-center justify-content-center"
      >
        <div class="text-center modal-image">
          <img
            src="../../assets/Image/Projects-images/community-support/painting-wall.webp"
            alt="image collage project"
          />
        </div>
      </div>
    </div>

    <div class="image-example col-lg-4 col-5">
      <img
        class="rounded float-end"
        src="../../assets/Image/Projects-images/community-support/child-face.webp"
        alt=""
        data-bs-toggle="modal"
        data-bs-target="#exampleModal3"
      />
    </div>
    <!-- Modal Picture 3 -->
    <div
      class="modal fade"
      id="exampleModal3"
      tabindex="-1"
      aria-labelledby="exampleModalLabel3"
      aria-hidden="true"
    >
      <div
        class="modal-dialog modal-dialog-centered align-items-center justify-content-center"
      >
        <div class="text-center modal-image">
          <img
            src="../../assets/Image/Projects-images/community-support/child-face.webp"
            alt="image collage project"
          />
        </div>
      </div>
    </div>

    <div class="d-block d-lg-none image-example col-5">
      <img
        class="rounded float-end"
        src="../../assets/Image/Projects-images/community-support/mobile-mountain.webp"
        alt=""
        data-bs-toggle="modal"
        data-bs-target="#exampleModal4"
      />
    </div>
  </div>
  <!-- Modal Picture 4 -->
  <div
    class="modal fade"
    id="exampleModal4"
    tabindex="-1"
    aria-labelledby="exampleModalLabel4"
    aria-hidden="true"
  >
    <div
      class="modal-dialog modal-dialog-centered align-items-center justify-content-center"
    >
      <div class="text-center modal-image">
        <img
          src="../../assets/Image/Projects-images/community-support/mobile-mountain.webp"
          alt="image collage project"
        />
      </div>
    </div>
  </div>

  <!-- Column 2 -->

  <div
    class="d-flex align-items-center justify-content-between mt-4 mt-lg-0 gap-lg-4"
  >
    <div class="d-none d-lg-block image-example">
      <img
        class="rounded float-start"
        src="../../assets/Image/Projects-images/community-support/service-mountain.webp"
        alt=""
      />
    </div>
    <div class="image-example px-4 p-lg-0">
      <img
        class="rounded float-end"
        src="../../assets/Image/Projects-images/community-support/community.webp"
        alt=""
        data-bs-toggle="modal"
        data-bs-target="#exampleModal5"
      />
    </div>
    <!-- Modal Picture 5 -->
    <div
      class="modal fade"
      id="exampleModal5"
      tabindex="-1"
      aria-labelledby="exampleModalLabel5"
      aria-hidden="true"
    >
      <div
        class="modal-dialog modal-dialog-centered align-items-center justify-content-center"
      >
        <div class="text-center modal-image">
          <img
            src="../../assets/Image/Projects-images/community-support/community.webp"
            alt="image collage project"
          />
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Collage photo section end -->

<!-- Paragraph section start -->
<section
  class="container-fluid p-0 d-flex flex-column align-items-center justify-content-center gap-5 paragraph-section col mb-0"
>
  <div
    class="d-flex flex-column align-items-center justify-content-center my-4"
  >
    <div class="my-3 my-lg-5">
      <p class="text-center text-white mb-0">
        <span class="thin-font">“Alone, we can do little;</span><br />
        Together, we can do much"
      </p>
      <div class="mt-4 author-font text-center">
        <span class="text-white text-center">- Helen Keller</span>
      </div>
    </div>
  </div>
</section>
<!-- Paragraph section end -->

<!-- Boxes section start -->
<section class="container-fluid p-0">
  <div class="d-flex flex-column-reverse flex-lg-row col-12">
    <div
      class="d-flex flex-column align-items-center justify-content-center gap-3 p-4 col"
    >
      <div class="col-lg-10 col-12 text-box">
        <div class="title-box mb-4">
          <h3>{{ 'PAGE_PROJECTS.Community_support.Subjects.subject_1.title' | translate }}</h3>
        </div>
        <div class="description-box">
          <p>
            {{ 'PAGE_PROJECTS.Community_support.Subjects.subject_1.description' | translate }}
          </p>
        </div>
      </div>
    </div>
    <div class="image-box col-lg-6 col-12 px-0">
      <img
        src="../../assets/Image/Projects-images/community-support/father-baby.webp"
        alt="Collaboration image"
      />
    </div>
  </div>

  <div class="d-flex flex-column-reverse flex-lg-row-reverse col-12">
    <div
      class="d-flex flex-column align-items-center justify-content-center gap-3 p-4 col"
    >
      <div class="col-lg-10 col-12 text-box">
        <div class="title-box mb-4">
          <h3>{{ 'PAGE_PROJECTS.Community_support.Subjects.subject_2.title' | translate }}</h3>
        </div>
        <div class="description-box">
          <p>
            {{ 'PAGE_PROJECTS.Community_support.Subjects.subject_2.description' | translate }}
          </p>
        </div>
      </div>
    </div>
    <div class="image-box col-lg-6 col-12 px-0">
      <img
        src="../../assets/Image/Projects-images/community-support/aerial-town.webp"
        alt="Community progress Image"
      />
    </div>
  </div>
</section>
<!-- Boxes section end -->

<!-- Other Projects section start -->
<section class="container-fluid p-0 section-projects_card">
  <div class="text-center title-box my-5">
    <h3>{{ 'GENERAL.Other_projects' | translate }}</h3>
  </div>
  <div
    class="container-fluid d-flex flex-row align-items-center justify-content-start justify-content-lg-center mb-5 gap-3 gap-lg-4 cards-container flex-nowrap flex-lg-wrap"
  >
    <a
      [routerLink]="['../university']"
      class="text-decoration-none ps-2 ps-lg-0"
    >
      <div
        class="card col rounded-3"
        style="width: 20rem; background-color: #00bf1b"
      >
        <img
          src="../../assets/Image/Home-accordion/mobile-img/College.webp"
          class="card-img-top rounded-3"
          alt="img-project"
        />
        <div class="card-body mb-2">
          <h4 class="card-title text-white">University<br />Sponsorship</h4>
          <p class="card-text text-white fs-5">
            Higher educational
            <br />opportunities hold the key to <br />breaking negative...
          </p>
          <a
            [routerLink]="['../university']"
            class="text-white text-decoration-none link-card"
          >
            Learn More <i class="ms-1 fa-solid fa-arrow-right text-white"></i>
          </a>
        </div>
      </div>
    </a>
    <a [routerLink]="['../special-education']" class="text-decoration-none">
      <div
        class="card col rounded-3"
        style="width: 20rem; background-color: #6f00aa"
      >
        <img
          src="../../assets/Image/Home-accordion/mobile-img/Special_Education.webp"
          class="card-img-top rounded-3"
          alt="img-project"
        />
        <div class="card-body mb-2">
          <h4 class="card-title text-white">Special<br />Education</h4>
          <p class="card-text text-white fs-5">
            At Crezco, we firmly believe
            <br />that one size does not fit all <br />when it comes to
            education...
          </p>
          <a
            [routerLink]="['../special-education']"
            class="text-white text-decoration-none link-card"
          >
            Learn More <i class="ms-1 fa-solid fa-arrow-right text-white"></i>
          </a>
        </div>
      </div>
    </a>
    <a [routerLink]="['../mission-trip']" class="text-decoration-none">
      <div
        class="card col rounded-3"
        style="width: 20rem; background-color: #00bf1b"
      >
        <img
          src="../../assets/Image/Home-accordion/mobile-img/Student_Trips.webp"
          class="card-img-top rounded-3"
          alt="img-project"
        />
        <div class="card-body mb-2">
          <h4 class="card-title text-white">Student<br />Mission Trips</h4>
          <p class="card-text text-white fs-5">
            The Crezco Student Mission Trip
            <br />Program is centered on <br />fostering a deep sense of...
          </p>
          <a
            [routerLink]="['../mission-trip']"
            class="text-white text-decoration-none link-card"
          >
            Learn More <i class="ms-1 fa-solid fa-arrow-right text-white"></i>
          </a>
        </div>
      </div>
    </a>
    <a
      [routerLink]="['../medical-assistance']"
      class="text-decoration-none pe-2 pe-lg-0"
    >
      <div
        class="card col rounded-3"
        style="width: 20rem; background-color: #6f00aa"
      >
        <img
          src="../../assets/Image/Home-accordion/mobile-img/Medical_Assistance.webp"
          class="card-img-top rounded-3"
          alt="img-project"
        />
        <div class="card-body mb-2">
          <h4 class="card-title text-white">Medical<br />Assistance</h4>
          <p class="card-text text-white fs-5">
            Crezco's Medical Assistance
            <br />Program serves as a source of <br />hope for families
            facing...
          </p>
          <a
            [routerLink]="['../medical-assistance']"
            class="text-white text-decoration-none link-card"
          >
            Learn More <i class="ms-1 fa-solid fa-arrow-right text-white"></i>
          </a>
        </div>
      </div>
    </a>
  </div>
</section>
<!-- Other Projects section end -->
