
<!-- ======= Hero Section ======= -->
<div class="container-fluid hero-section p-0">
  <div class="d-flex align-items-center justify-content-center overflow-hidden mt-5 mt-lg-5">
    <div class="d-flex flex-row home-banner justify-content-center align-content-center">
      <div
        class="container px-0 d-flex flex-column-reverse flex-md-row align-items-center justify-content-center content-hero gap-5 gap-lg-2 col-lg-9">
        <div class="d-flex flex-column align-items-center align-items-md-start justify-content-center gap-2 text-lg-start">
          <h1 class="text-md-start text-white">{{ 'MAIN.Title' | translate }}</h1>
          <p
            class="text-center text-md-start text-white text-content_hero">{{ 'PAGE_HOME.subtitle_home' | translate
            }}
          </p>
          <a class="donate-btn" id="hover-link">
            <button class="btn btn-primary py-3 px-5 py-lg-2 px-lg-3" data-bs-toggle="modal"
              data-bs-target="#exampleModal">
              {{ 'PAGE_HOME.Donate' | translate }}
              <img class="ms-1 heart-vector" src="../../../assets/Image/home-page/heart-vector.svg" alt="heart-vector">
            </button>
          </a>
        </div>
        <div class="circle-image">
          <img src="../../../assets/Image/home-page/circle-image-home.webp" alt="Home Image">
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Projects Section Start -->
<section class="container-fluid p-0 section-projects_card">

  <div class="text-center d-flex flex-column align-items-center justify-content-center title-box my-5">
    <h3 class="text-center">{{ 'PAGE_HOME.Section_2.title' | translate }}</h3>
    <p class="text-center col-md-10 col-lg-7">{{ 'PAGE_HOME.Section_2.description' | translate }}</p>
  </div>

  <div class="container col-lg-10 card-project d-flex flex-column justify-content-between align-items-center gap-3 gap-lg-5">
    <div class="d-flex flex-column flex-lg-row justify-content-evenly gap-3">
      <a [routerLink]="['/projects/university']" class="text-decoration-none card-link">
        <div class="d-flex flex-row justify-content-center justify-content-lg-between align-items-center card-body gap-3 pe-3 pe-md-4">
          <div>
            <img src="../../../assets/Image/home-page/Cards-images/card-image-university.webp" class="card-img-top"
              alt="card-image-university" />
          </div>
          <div class="card-body-content d-flex flex-column align-items-start justify-content-center">
            <h4 class="card-title">{{ 'NAVBAR.Projects.Project_1' | translate }}</h4>
            <p class="card-text d-none d-lg-block">
              {{ 'PAGE_PROJECTS.University_Page.Abreviation-desktop' | translate }}
            </p>
            <p class="card-text d-block d-lg-none">
              {{ 'PAGE_PROJECTS.University_Page.Abreviation-mobile' | translate }}
            </p>
            <a [routerLink]="['/projects/university']" class="text-decoration-none link-card">
              {{ 'GENERAL.Learn_more' | translate }}
              <i class="ms-1 fa-solid fa-arrow-right"></i>
            </a>
          </div>
        </div>
      </a>

      <a [routerLink]="['/projects/special-education']" class="text-decoration-none card-link">
        <div class="d-flex flex-row justify-content-center justify-content-lg-between align-items-center card-body gap-3 pe-3 pe-md-4">
          <div>
            <img src="../../../assets/Image/home-page/Cards-images/card-image-special-education.webp" class="card-img-top"
              alt="card-image-special-education" />
          </div>
          <div class="card-body-content d-flex flex-column align-items-start justify-content-center">
            <h4 class="card-title">{{ 'NAVBAR.Projects.Project_2' | translate }}</h4>
            <p class="card-text d-none d-lg-block">
              {{ 'PAGE_PROJECTS.Special_education.Abreviation-desktop' | translate }}
            </p>
            <p class="card-text d-block d-lg-none">
              {{ 'PAGE_PROJECTS.Special_education.Abreviation-mobile' | translate }}
            </p>
            <a [routerLink]="['/projects/special-education']" class="text-decoration-none link-card">
              {{ 'GENERAL.Learn_more' | translate }}
              <i class="ms-1 fa-solid fa-arrow-right"></i>
            </a>
          </div>
        </div>
      </a>
    </div>

    <div class="d-flex flex-column flex-lg-row justify-content-evenly gap-3 mb-5">
      <a [routerLink]="['/projects/community-support']" class="text-decoration-none card-link">
        <div class="d-flex flex-row justify-content-center justify-content-lg-between align-items-center card-body gap-3 pe-3 pe-md-4">
          <div>
            <img src="../../../assets/Image/home-page/Cards-images/card-image-community.webp" class="card-img-top"
              alt="card-image-community-support" />
          </div>
          <div class="card-body-content d-flex flex-column align-items-start justify-content-center">
            <h4 class="card-title">{{ 'NAVBAR.Projects.Project_3' | translate }}</h4>
            <p class="card-text d-none d-lg-block">
              {{ 'PAGE_PROJECTS.Community_support.Abreviation-desktop' | translate }}
            </p>
            <p class="card-text d-block d-lg-none">
              {{ 'PAGE_PROJECTS.Community_support.Abreviation-mobile' | translate }}
            </p>
            <a [routerLink]="['/projects/community-support']" class="text-decoration-none link-card">
              {{ 'GENERAL.Learn_more' | translate }}
              <i class="ms-1 fa-solid fa-arrow-right"></i>
            </a>
          </div>
        </div>
      </a>

      <a [routerLink]="['/projects/mission-trip']" class="text-decoration-none card-link">
        <div class="d-flex flex-row justify-content-center justify-content-lg-between align-items-center card-body gap-3 pe-3 pe-md-4">
          <div>
            <img src="../../../assets/Image/home-page/Cards-images/card-image-mission-trip.webp" class="card-img-top"
              alt="card-image-mission-trip" />
          </div>
            <div class="card-body-content d-flex flex-column align-items-start justify-content-center">
            <h4 class="card-title">{{ 'NAVBAR.Projects.Project_4' | translate }}</h4>
            <p class="card-text d-none d-lg-block">
              {{ 'PAGE_PROJECTS.Student_mission.Abreviation-desktop' | translate }}
            </p>
            <p class="card-text d-block d-lg-none">
              {{ 'PAGE_PROJECTS.Student_mission.Abreviation-mobile' | translate }}
            </p>
            <a [routerLink]="['/projects/mission-trip']" class="text-decoration-none link-card">
              {{ 'GENERAL.Learn_more' | translate }}
              <i class="ms-1 fa-solid fa-arrow-right"></i>
            </a>
          </div>
        </div>
      </a>
    </div>
  </div>

</section>
<!-- Projects Section End -->

<!-- Pray Section Start -->
<section>
  <div class="container-fluid pray-section d-flex flex-column gap-5">
    <div class="container mt-4">
      <div class="text-center d-flex flex-column align-items-center justify-content-center title-box my-5">
        <h3 class="text-center">{{ 'PAGE_HOME.Paragraphs.Title' | translate }}</h3>
      </div>
      <div class="d-flex flex-column flex-lg-row align-items-center justify-content-evenly gap-4 gap-lg-0">
        <div class="d-flex align-items-end justify-content-end" data-aos="fade-up">
          <img class="pray-img" src="../../../assets/Image/home-page/pray-with-us.webp"
            alt="Pray with us image" />
        </div>
        <div data-aos="fade-up" data-aos-offset="300"
          class="text-center text-lg-start col-12 col-lg-5 d-flex flex-column gap-3 justify-content-center align-items-lg-start align-items-center fs-5">
          <p>
            {{ 'PAGE_HOME.Paragraphs.Pray_1' | translate }}
          </p>
          <a [routerLink]="['/']" routerLinkActive="router-link-active">
            <button
              class="btn-subscribe py-2 px-4 mb-3">
              {{ 'PAGE_HOME.Paragraphs.Button_pray' | translate }}
              <img class="icon-download-calendar ms-1 pb-2" src="../../../assets/Image/home-page/download-calendar-icon.svg" alt="Download calendar icon">
            </button>
          </a>
          <p>
            {{ 'PAGE_HOME.Paragraphs.Pray_2' | translate }}
          </p>
          <form [formGroup]="newsletterForm" (ngSubmit)="onSubmited()">
            <div class="d-flex flex-column flex-lg-row gap-3 gap-lg-0 align-items-center align-items-md-end justify-content-lg-end justify-content-between">
              <div>
                <input type="email" placeholder="Email Address" class="input-email" formControlName="email" required />
              </div>
              <div class="btn-send-email">
                <a>
                  <button type="submit" [disabled]="!newsletterForm.valid" class="btn-email text-white">
                    {{ 'PAGE_HOME.Paragraphs.btn-send-email' | translate }}
                    <i style="rotate: -45deg;" class="ms-2 ms-lg-1 fa-solid fa-arrow-right"></i>
                  </button>
                </a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="container mb-4">
      <div class="d-flex flex-column-reverse flex-lg-row align-items-center justify-content-evenly gap-5 gap-lg-0">
        <div data-aos="fade-up"
          class="text-center text-lg-start col-12 col-lg-5 d-flex flex-column gap-3 justify-content-center align-items-lg-start align-items-center fs-5">
          <h3 class="volunteers-title">{{ 'PAGE_HOME.Administrative.Title' | translate }}</h3>
          <p>
            {{ 'PAGE_HOME.Administrative.Subtitle' | translate }}
          </p>
          <h3 class="volunteers-title">{{ 'PAGE_HOME.Domain_Camp.Title' | translate }}</h3>
          <p>
            {{ 'PAGE_HOME.Domain_Camp.Subtitle' | translate }}
          </p>
        </div>
        <div data-aos="fade-up" data-aos-offset="300" class="d-flex align-items-end justify-content-end">
          <img class="pray-img" src="../../../assets/Image/home-page/volunteer-with-us.webp"
            alt="Pray with us image" />
        </div>
      </div>
    </div>
  </div>
</section>

<shared-banner></shared-banner>

<app-contact-us></app-contact-us>
<!-- Pray Section End -->
