@import url(../../../styles.scss);
@import url(../../website/contact-us/contact-us/contact-us.component.scss);

/* Hero Banner Styles Start */

p {
  font-style: normal !important;
  -webkit-font-smoothing: antialiased !important;
}

.home-banner {
  background-image: url(../../../assets/Image/home-page/hero-banner-home.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  min-height: 450px;
  margin-top: 1em;
}

.content-hero {
  h1 {
    font-family: var(--Inter-text-body-font-family);
    font-size: 32px;
    text-transform: capitalize;
  }
  .text-content_hero {
    font-size: 60px;
    font-family: var(--Oswald-text-body-font-family);
    font-weight: bold;
    line-height: 1.2em;
    width: 600px;
  }
}

.circle-image img {
  max-width: 100%;
  width: 850px;
}

.btn,
.donate-btn .btn-primary {
  font-family: var(--Inter-text-body-font-family);
  background-color: var(--colorsbule-buttom);
  text-transform: capitalize;
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: 50px;
  border: 2px solid white;
}


/* Hero Banner Styles End */

.title-box {
  h3 {
    font-size: 45px;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    text-align: left;
  }
  p {
    font-size: 22px;
    font-family: "Inter", sans-serif;
    font-weight: normal;
  }
}

/* Cards Projects Styles Start */

/* .card-project {
  gap: 3em;
} */

.card {
  transition: ease 0.3s all;
  border: none;
}

.card-body {
  border: 1px solid #9E9E9E;
  border-radius: 102px 24.45px 24.45px 102px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: .2s ease all;
}

.card-body:hover {
  transform: scale(1.03);
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

.card-body-content {
  width: 240px;
}

.card-title {
  font-size: 30px;
  color: var(--basic-colors-black);
  font-family: var(--Inter-text-body-font-family);
  text-transform: capitalize;
  font-weight: 600;
  margin-bottom: .5em;
  max-width: 200px;
}

.card-text {
  font-size: 17px;
  font-weight: normal;
  color: var(--basic-colors-black);
  height: 122px;
}

.link-card {
  color: var(--blue-colors-buttom);
}

.card-img-top {
  width: 200px;
  /* position: absolute;
  z-index: 5; */
  /* left: 400px; */
}


.cards-container {
  overflow: visible;
}

/* Cards Projects Styles End */

.mission-title {
  font-size: 56px;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  color: #6f00aa;
}

.mission-content > p {
  font-family: "Inter", sans-serif;
  font-weight: medium;
  font-size: 18px;
}

/* Pray Section Styles */
.pray-section {
  background-color: var(--colors-gray-bg);
}

.pray-img {
  width: 450px;
  max-width: 100%;
}

.btn-subscribe {
  background: var(--blueviolet-colors-oficial);
  font-family: var(--Inter-text-body-font-family);
  font-weight: 500;
  color: white;
  border: none;
  border-radius: 50px;
}

.icon-download-calendar {
  width: 25px;
  max-width: 100%;
}

.btn-send-email {
  position: absolute;
  right: 0;
}

.input-email {
  padding: 0.8rem;
  min-width: 28em;
  border-radius: 50px;
  font-weight: 400;
  font-size: 1rem;
  background-color: white;
  border: 1.5px solid #c9c9c9;
}
.input-email::placeholder {
  color: #c9c9c9;
}

input.input-email:focus-visible {
  outline: transparent;
}

.btn-email {
  background-color: var(--blueviolet-colors-oficial);
  border: 1.5px solid var(--blueviolet-colors-oficial);
  padding: .5em 2em;
  border-radius: 50px;
}
::placeholder {
  color: #9e9e9e;
}

.volunteers-title {
  font-size: 35px;
  font-family: var(--Inter-text-body-font-family);
  font-weight: 600;
}

/* Heart Animation Start */

.heart-vector {
  transition: ease all;
}
/* .heart-vector:hover {
  animation-name: pulseHeart;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
} */

#hover-link:hover .heart-vector {
  animation: pulseHeart 1.5s ease-in-out;
}

@keyframes pulseHeart {
  0% {
    transform: scale(1) rotate(0deg);
    opacity: 1;
  }
  20% {
    transform: rotate(-25deg);
  }
  30% {
    transform: rotate(20deg);
  }
  50% {
    transform: scale(1.5) rotate(45deg);
    opacity: 0.7;
  }
  100% {
    transform: scale(1) rotate(0deg);
    opacity: 1;
  }
}

/* Heart Animation End */

/* iPad Styles Start */
@media (min-width: 768px) and (max-width: 991.98px) {
  .content-hero {
    .text-content_hero {
      font-size: 42px;
      width: 340px;
    }
  }

  .btn-send-email {
    position: absolute;
    right: 100px;
  }
}
/* iPad Styles End */

/* Mobile Styles Start */
/* @media (max-width: 575.98px) { */
@media (min-width: 340px) and (max-width: 767.98px) {
  .home-banner {
    background-image: url(../../../assets/Image/home-page/hero-banner-home_mobile.jpeg);
    background-size: cover;
    width: 100%;
    height: 720px;
    margin-top: 0.8em;
    min-height: 95vh;
  }

  .content-hero {
    h1 {
      font-family: var(--Inter-text-body-font-family);
      font-size: 24px;
      text-transform: capitalize;
    }
    .text-content_hero {
      font-size: 32px;
      width: auto;
    }
  }

  .title-box {
    h3 {
      font-size: 40px;
      font-family: "Oswald", sans-serif;
      text-transform: uppercase;
      font-weight: bold;
      text-align: left;
      padding: 0 24px;
    }
    p {
      font-size: 20px;
      font-family: "Inter", sans-serif;
      font-weight: normal;
      padding: 0 24px;
    }
  }

  .card-body-content {
    width: 150px;
  }

  .card-link {
    width: 330px !important;
  }

  .card-body {
    border-radius: 92px 24.45px 24.45px 92px;
  }

  .card-title {
    font-size: 20px;
    color: var(--basic-colors-black);
    font-family: var(--Inter-text-body-font-family);
    text-transform: capitalize;
    font-weight: 600;
    margin-bottom: .5em;
    max-width: 200px;
  }

  .card-text {
    font-size: 15px;
    font-weight: 300;
    font-style: normal;
    color: var(--basic-colors-black);
    height: 98px;
    overflow-y: hidden;
  }

  .btn-subscribe {
    font-size: 1.1rem;
  }

  .card-img-top {
    width: 160px;
  }

  .btn-send-email {
    position: relative;
  }

  .btn-email {
    padding: .5em 5em;
  }

  .input-email {
    min-width: 20em;
  }
  .mission-title {
    font-size: 40px;
  }

  .volunteers-title {
    font-size: 30px;
  }
  .card:hover {
    box-shadow: none;
    transform: none;
  }

  .image-box img {
    max-width: 100%;
  }
  .cards-container {
    overflow: scroll;
  }

  .rounded-3 {
    border-radius: 10px !important;
  }
}
/* Mobile Styles End */
