@import url(../../../../styles.scss);
@import url(../../../website/contact-us/contact-us/contact-us.component.scss);


img#donate-button {
  width: 100%;
  max-width: 120px;
}

/* .title-modal {
  font-family: var(--Inter-text-body-font-family);
  letter-spacing: 0px;
} */

.payment-option .paypal-logo {
  width: 100%;
  max-width: 150px;
}

.payment-option .stripe-logo {
  width: 100%;
  max-width: 100px;
}

.payment-option .cashapp-logo {
  width: 100%;
  max-width: 170px;
}
.payment-option .zelle-logo {
  width: 100%;
  max-width: 75px;
}

.payment-option {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3em;
}

/* Modales */
.modalqr-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  transition: .2s ease all;
}

.modalqr {
  position: absolute;
  z-index: 1000;
  top: -50%;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  background: white;
  border-radius: 5px;
  padding: 1rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: .2s ease all;
}

.qr-image {
  max-width: 100%;
  width: 300px;
}

.modalqr-header,
.modalqr-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.modalqr-body {
  margin: 1rem 0;
}


/* Form Styles */
input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  background: none;
  border: none;
  padding: 1.3rem 5.5rem;
  position: absolute;
  z-index: 2;
  cursor: pointer;
}
input#cashapp:checked,
input#zelle:checked {
  background: none;
  border: solid none 2px;
  padding: 1.3rem 5.5rem;
}

.donateOption {
  position: relative;
  z-index: 1;
}

div:where(.swal2-container) {
  /* position: absolute; */
  z-index: 9992 !important;
}

.btn-email {
  background: var(--blueviolet-colors-oficial);
  border: 1.5px solid var(--blueviolet-colors-oficial);
  padding: .5em 2em;
  border-radius: 50px;
}
.btn-email:disabled {
  background: var(--blueviolet-colors-oficial);
  border: 1.5px solid var(--blueviolet-colors-oficial);
  padding: .5em 2em;
  border-radius: 50px;
  opacity: 0.5;
}
