img#donate-button {
  width: 100%;
  max-width: 120px;
}
.payment-option .stripe-logo {
  width: 100%;
  max-width: 80px;
}
.payment-option .cashapp-logo {
  width: 100%;
  max-width: 30px;
}
.payment-option .venmo-logo {
  width: 100%;
  max-width: 90px;
}
