<h3 class="text-center">Donate with:</h3>
<div class="my-5 row justify-content-center">
  <div class="col-5 payment-option">
    <div class="d-flex flex-column align-items-center justify-content-center">
      <a href='{{ paypal_url }}' target="_blank">
        <img class="paypal-logo" src="/assets/Image/payment-logos/Paypal-logo.png" alt="Paypal logo" />
      </a>
      <!-- <div id="paypal-donate-button-container"></div> -->
    </div>
    <!-- CashApp Container Start -->
    <div class="d-none d-lg-flex flex-column align-items-center justify-content-center">
      <a role="button" (click)="openModalCashApp()">
        <img class="cashapp-logo" src="/assets/Image/payment-logos/Cashapp.webp" alt="CashApp logo" />
      </a>
    </div>
    <div class="d-lg-none d-flex flex-column align-items-center justify-content-center">
      <a role="button" href="https://cash.app/$Crezco" target="_blank">
        <img class="cashapp-logo" src="/assets/Image/payment-logos/Cashapp.webp" alt="CashApp logo" />
      </a>
    </div>
    <!-- CashApp Container End -->
  </div>
  <div class="col-5 payment-option">
    <!-- Stripe Container Start -->
    <div class="d-flex flex-column align-items-center justify-content-center">
      <a disabled>
        <img class="stripe-logo" src="../../../assets/Image/payment-logos/Stripe-logo.png" alt="stripe logo" />
      </a>
    </div>
    <!-- Stripe Container End -->

    <!-- Zelle Container Start -->
    <div class="d-none d-lg-flex flex-column align-items-center justify-content-center">
      <a role="button" (click)="openModalZelle()">
        <img class="zelle-logo" src="/assets/Image/payment-logos/zelle.png" alt="Zelle logo" />
      </a>
    </div>
    <div class="d-lg-none d-flex flex-column align-items-center justify-content-center">
      <a role="button" href="https://goo.su/aeb03d" target="_blank">
        <img class="zelle-logo" src="/assets/Image/payment-logos/zelle.png" alt="Zelle logo" />
      </a>
    </div>
    <!-- Zelle Container End -->
  </div>
</div>

<!-- Paypal Modal -->
<div class="modalqr-backdrop" *ngIf="isModalPaypalOpen" (click)="closeModalPaypal()"></div>
<div class="modalqr" *ngIf="isModalPaypalOpen">
  <div class="modalqr-header">
    <button class="btn-close" (click)="closeModalPaypal()"></button>
  </div>
  <div class="modalqr-body">

  </div>
</div>

<!-- CashApp Modal -->
<div class="modalqr-backdrop" *ngIf="isModalCashAppOpen" (click)="closeModalCashApp()"></div>
<div class="modalqr" *ngIf="isModalCashAppOpen">
  <div class="modalqr-header">
    <!-- <h3 class="text-center">CashApp QR</h3> -->
    <button class="btn-close" (click)="closeModalCashApp()"></button>
  </div>
  <div class="modalqr-body">
    <img class="qr-image" src="/assets/Image/payment-logos/Cashapp-qr.jpeg" alt="QR CashApp">
  </div>
</div>

<!-- Zelle Modal -->
<div class="modalqr-backdrop" *ngIf="isModalZelleOpen" (click)="closeModalZelle()"></div>
<div class="modalqr" *ngIf="isModalZelleOpen">
  <div class="modalqr-header">
    <!-- <h3 class="text-center">Zelle QR</h3> -->
    <button class="btn-close" (click)="closeModalZelle()"></button>
  </div>
  <div class="modalqr-body">
    <img class="qr-image" src="/assets/Image/payment-logos/Zelle-QR-web.jpeg" alt="QR Zelle">
  </div>
</div>
