:root {
  --green-colors-icon-university: rgba(124, 206, 37, 1);
  --yellow-colors-icon-special: rgba(244, 204, 37, 1);
  --orange-color-icon-community: rgba(242, 126, 48, 1);
  --green-colors-icon-students-mission: rgba(59, 196, 147, 1);
  --blue-colors-buttom: rgba(97, 61, 244, 1);
  --blueviolet-colors-oficial: #613DF4;
  --blueviolet-colors-pastel: #8E7BFF;
  --language-colors-buttom: rgba(214, 205, 249, 1);
  --black-colors-text: rgba(0, 0, 0, 1);
  --colors-gray-bg: rgba(243, 243, 243, 1);
  --basic-colors-white: rgba(255, 255, 255, 1);
  --basic-colors-black: rgba(0, 0, 0, 1);
  --basic-colors-green: rgba(0, 191, 27, 1);
  /* Root Fonts */
  --Inter-text-body-font-family: "Inter", Helvetica;
  --Inter-text-body-font-weight: 500;
  --Inter-text-body-font-size: 18px;
  --Inter-text-body-letter-spacing: 0px;
  --Inter-text-body-line-height: normal;
  --Inter-text-body-font-style: normal;

  --Oswald-text-body-font-family: "Oswald", Helvetica;
  --Oswald-text-body-font-weight: 700;
  --Oswald-text-body-font-size: 26px;
  --Oswald-text-body-letter-spacing: 0px;
  --Oswald-text-body-line-height: 45px;
  --Oswald-text-body-font-style: normal;

  --Newsreader-text-body-font-family: "Newsreader", Helvetica;
  --Newsreader-text-body-font-normal: normal;
  --Newsreader-text-body-font-italic: italic;
}

/* ========= Oswald Font Family ========= */
@font-face {
  font-family: "Oswald";
  src: url("/assets/fonts/Oswald/woff/Oswald-ExtraLight.woff")
    format("woff");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Oswald";
  src: url("/assets/fonts/Oswald/woff/Oswald-Light.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Oswald";
  src: url("/assets/fonts/Oswald/woff/Oswald-Regular.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Oswald";
  src: url("/assets/fonts/Oswald/woff/Oswald-Medium.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Oswald";
  src: url("/assets/fonts/Oswald/woff/Oswald-SemiBold.woff")
    format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Oswald";
  src: url("/assets/fonts/Oswald/woff/Oswald-Bold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

/* ========= Inter Font Family ========= */
@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter/woff/Inter-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter/woff/Inter-ExtraLight.woff")
    format("woff");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter/woff/Inter-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter/woff/Inter-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter/woff/Inter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter/woff/Inter-Bold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter/woff/Inter-ExtraBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter/woff/Inter-Black.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

/* ========= NewsReader Font Family ========= */
@font-face {
  font-family: "Newsreader";
  src: url("/assets/fonts/NewsReader/Newsreader-regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Newsreader-Italic";
  src: url("/assets/fonts/NewsReader/Newsreader-italic.woff")
    format("woff");
  font-weight: normal;
  font-style: italic;
}

/* FontAwsome Styles Import */
@import "~@fortawesome/fontawesome-free/css/all.min.css";

