<section class="container-fluid p-0">
  <div class="pt-3 mt-lg-5 mt-4">
    <img
      class="banner-story d-lg-block d-none"
      src="../../assets/Image/Story/hero-banner_story.webp"
      alt="Story Image Banner"
    />
    <img
      class="banner-story d-block d-lg-none"
      src="../../assets/Image/Story/hero-banner_story-mobile.webp"
      alt="Story Image Banner"
    />
  </div>
</section>
<!-- Image banner section end -->

<!-- Description section start -->
<section class="container p-0 my-5 py-lg-3">
  <div class="title-project">
    <h2 class="text-center">{{ 'STORY_CREZCO.Title_story' | translate }}</h2>
  </div>
  <div
    class="d-flex flex-column align-items-center justify-content-center mt-4"
  >
    <p class="text-center description-project">
      {{ 'STORY_CREZCO.Paragraph_1' | translate }}
    </p>
    <p class="text-center description-project">
      {{ 'STORY_CREZCO.Paragraph_2' | translate }}
    </p>
  </div>
</section>
<!-- Description section end -->

<!-- Section Knoledge Start -->
<section class="section-knoledge">
  <div class="container-fluid">
    <div
      class="container d-flex flex-column flex-lg-row align-items-center justify-content-center gap-4 my-5"
    >
      <div
        class="knoledge-image col-12 col-lg-5 d-flex align-items-center justify-content-center"
      >
        <img
          src="../../assets/Image/Story/section2_story.webp"
          alt="section 2 Image"
        />
      </div>
      <div class="d-none d-lg-block knoledge-content col-lg-6 px-4">
        <h3>{{ 'STORY_CREZCO.Section_2' | translate }}</h3>
        <p>
          {{ 'STORY_CREZCO.Subsection_2' | translate }}
        </p>
      </div>
    </div>
  </div>
</section>

<div class="knoledge-content-mobile d-block d-lg-none p-3">
  <h3 class="my-3">{{ 'STORY_CREZCO.Section_2' | translate }}</h3>
  <p class="text-center">
    {{ 'STORY_CREZCO.Subsection_2' | translate }}
  </p>
</div>
<!-- Section Knoledge End -->

<!-- Section Empowerment Start -->
<section class="container-fluid section-empowerment py-4 py-lg-5">
  <div class="title-project_section mt-1 mt-lg-4">
    <h2 class="text-center">{{ 'STORY_CREZCO.Section_3' | translate }}</h2>
  </div>
  <div
    class="d-flex flex-column align-items-center justify-content-center mt-4 my-lg-4"
  >
    <p class="text-center description-project">
      {{ 'STORY_CREZCO.Subsection_3' | translate }}
    </p>
    <p class="text-center description-project">
      {{ 'STORY_CREZCO.Subsection_4' | translate }}
    </p>
  </div>
</section>
<!-- Section Empowerment End -->

<!-- Grads Section Start -->
<section class="container">
  <div class="title-grads mt-5">
    <div class="text-center">
      <h3 class="fs-2 mb-0">{{ 'STORY_CREZCO.Section_4.Line_1' | translate }}</h3>
      <h3 class="mb-0">
        <span class="title-thin">{{ 'STORY_CREZCO.Section_4.Line_2' | translate }}</span> {{ 'STORY_CREZCO.Section_4.Line_3' | translate }}
      </h3>
      <h5 class="text-graylight mb-0">{{ 'STORY_CREZCO.Section_4.Line_4' | translate }}</h5>
    </div>
  </div>
  <div
    class="grads my-5 d-flex flex-lg-row align-items-center justify-content-around justify-content-lg-center gap-3 gap-lg-4 flex-wrap"
  >
    <div
      *ngFor="let info of storyInfo"
      class="{{ info.sInfoTags.tagParent }} col-lg-3 col-5"
    >
      <div class="{{ info.sInfoTags.tagChildren }}">
        <img
          src="../../assets/Image/Story/{{ info.sInfoUrl }}"
          alt="Grad photo"
        />
      </div>
      <div class="{{ info.sInfoTags.tagBrother }}">
        <h5>{{ info.sInfoDegree }}</h5>
        <p class="mb-0">{{ info.sInfoDate }}</p>
      </div>
    </div>
  </div>
</section>
<!-- Grads Section Start -->

<!-- Section Incluece Start -->
<section class="section-influence">
  <div class="container-fluid">
    <div
      class="container d-flex flex-column flex-lg-row-reverse align-items-center justify-content-center gap-4 my-5"
    >
      <div
        class="influence-image col-12 col-lg-5 d-flex align-items-center justify-content-center"
      >
        <img
          src="../../assets/Image/Story/section5_story.webp"
          alt="section 2 Image"
        />
      </div>
      <div class="influence-content d-none d-lg-block col-lg-6 px-4">
        <h3>{{ 'STORY_CREZCO.Section_5' | translate }}</h3>
        <p>
          {{ 'STORY_CREZCO.Subsection_5' | translate }}
        </p>
      </div>
    </div>
  </div>
</section>

<div class="d-block d-lg-none influence-content-mobile col-lg-6 p-4">
  <h3 class="text-center">{{ 'STORY_CREZCO.Section_5' | translate }}</h3>
  <p class="text-center mt-3">
    {{ 'STORY_CREZCO.Subsection_5' | translate }}
  </p>
</div>
<!-- Section Incluece End -->

<!-- Paragraph Section Start -->
<section class="container-fluid paragraph-section">
  <div class="container my-5 d-flex align-items-center justify-content-center">
    <p class="col-12 col-lg-6 text-center text-white my-0 my-lg-3">
      {{ 'STORY_CREZCO.Section_banner1' | translate }}
      <br />
      {{ 'STORY_CREZCO.Section_banner2' | translate }}
      <!-- Crezco attributes its growth of influence and the success of our community
      members to the continuous support and opportunities that God has blessed
      us with, and we anticipate many more years of support and collaboration.
      <br />Crezco remains committed to its mission of transforming the lives of
      young adults and the community it serves through education, faith, and
      service. -->
    </p>
  </div>
</section>
<!-- Paragraph Section End -->

<!-- Founders Section Start -->
<section class="container p-4">
  <div class="knoledge-content my-4">
    <h3 class="text-center fs-1 mb-0">{{ 'STORY_CREZCO.Section_6.Title_admin' | translate }}</h3>
  </div>
  <div
    class="founders mt-5 mt-lg-0 my-lg-5 d-flex flex-lg-row align-items-around gap-4 gap-lg-0 align-items-lg-center justify-content-center flex-wrap"
  >
    <div
      *ngFor="let admin of storyInfoAdmin"
      class="card-founder col-5 col-lg-3"
    >
      <div class="founder-photo text-center">
        <img
          src="../../assets/Image/Story/{{ admin.sInfoAdminUrl }}"
          alt="Founder Photo"
        />
      </div>
      <div class="founder-content text-center">
        <h5 class="fw-bold">{{ admin.sInfoAdmin.sAdminName }}</h5>
        <p>{{ admin.sInfoAdmin.sAdminDesc }}</p>
      </div>
    </div>
  </div>
</section>
<!-- Founders Section End -->
