.banner-story {
  max-width: 100%;
}

.title-project h2 {
  font-size: 56px;
  font-family: "Oswald", sans-serif !important;
  text-transform: uppercase;
  font-weight: bold;
  color: #6f00aa;
}

.title-project_section h2 {
  font-size: 56px;
  font-family: "Oswald", sans-serif !important;
  text-transform: uppercase;
  font-weight: bold;
}

.description-project {
  font-family: Inter;
  font-size: 1.3rem;
  font-style: normal;
  line-height: 1.5em;
  max-width: 70%;
}

.section-knoledge {
  background: rgb(0, 191, 27);
  background: linear-gradient(
    90deg,
    rgba(0, 191, 27, 1) 32%,
    rgba(232, 255, 230, 1) 32%
  );
}
.section-influence {
  background: rgb(245, 225, 255);
  background: linear-gradient(
    90deg,
    rgba(245, 225, 255, 1) 68%,
    rgba(62, 30, 103, 1) 68%
  );
}

.knoledge-image img,
.influence-image img {
  /* width: 80%; */
  max-width: 100%;
}

.knoledge-content h3,
.influence-content h3 {
  font-size: 45px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  text-align: left;
}

.knoledge-content p,
.influence-content p {
  line-height: 2rem;
  font-size: 1.3rem;
  text-align: left;
}

.section-empowerment {
  background-color: #f1f1f1;
}

.title-grads h3 {
  font-family: "Oswald", sans-serif;
  font-size: 45px;
  font-weight: 700;
  text-transform: uppercase;
  .title-thin {
    font-family: "Oswald", sans-serif;
    font-size: 35px;
    font-weight: 200;
    text-transform: uppercase;
  }
}

div > .text-graylight {
  font-family: "Oswald", sans-serif;
  font-size: 28px;
  color: #9e9e9e;
  font-weight: 200;
  text-transform: uppercase;
}

.grads {
  .card-grad {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 1em;
    .card-grad_img img {
      max-width: 100%;
      transition: all 0.3s ease;
    }
    .card-grad_img img:hover {
      transform: scale(1.02);
    }
    .card-grad_content p {
      color: #9e9e9e;
    }
  }
}

.paragraph-section {
  background-color: #00bf1b;
  p {
    font-family: Inter;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 2.3rem;
  }
}

.founders {
  .card-founder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    .founder-photo {
      img {
        max-width: 80%;
        transition: all 0.3s ease;
      }
      img:hover {
        transform: scale(1.03);
      }
    }
  }
}

section {
  overflow-x: hidden;
}

// Media Queries mobile

@media only screen and (max-width: 768px) {
  .title-project h2 {
    font-size: 40px;
  }

  .description-project {
    font-size: 1.15rem;
    max-width: 80%;
  }

  .knoledge-content-mobile {
    background-color: rgba(232, 255, 230, 1);
  }

  .knoledge-content-mobile h3 {
    font-size: 25px;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
  }

  .knoledge-content-mobile p {
    font-size: 1.15rem;
  }

  .title-project_section h2 {
    font-size: 25px;
  }

  .influence-content-mobile {
    background-color: #f5e1ff;
  }
  .influence-content-mobile h3 {
    font-size: 27px;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
  }
  .influence-content-mobile p {
    line-height: 2rem;
    font-size: 1.2rem;
    text-align: center;
  }

  .paragraph-section {
    p {
      font-size: 1.2rem;
      line-height: 2rem;
    }
  }

  .founders {
    .card-founder {
      .founder-photo {
        img {
          max-width: 100%;
          transition: all 0.3s ease;
        }
      }
    }
  }
}
