/* @import url(../university-sponsorship/university-sponsorship.component.scss); */
@import url(../../../../styles.scss);
@import url(../university-sponsorship/university-sponsorship.component.scss);

.banner-student-mission {
  width: 100vw;
  max-width: 100%;
}
.description-project {
  max-width: 63%;
}

.title-project h2 {
  font-size: 56px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--basic-colors-black);
}

.title-project h3 {
  font-size: 42px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--basic-colors-black);
}

@media only screen and (max-width: 768px) {
  @import url(../../../../styles.scss);
  @import url(../university-sponsorship/university-sponsorship.component.scss);

  .title-project h2 {
    font-size: 45px;
  }

  .title-project h3 {
    font-size: 32px;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--basic-colors-black);
  }

  .btn,
  .donate-btn .btn-primary {
    padding: 1em 8em !important;
  }

  .img-quote {
    width: 1700px;
    max-width: 200%;
  }
  .description-project {
    font-size: 1.15rem;
    max-width: 90%;
  }
}
