/* @import url(../university-sponsorship/university-sponsorship.component.scss); */
@import url(../../../../styles.scss);
@import url(../university-sponsorship/university-sponsorship.component.scss);

.banner-special-education {
  width: 100vw;
  max-width: 100%;
}

@media only screen and (max-width: 768px) {
  @import url(../../../../styles.scss);
  @import url(../university-sponsorship/university-sponsorship.component.scss);

  .title-project h2 {
    font-size: 45px;
  }

  .btn,
  .donate-btn .btn-primary {
    padding: 1em 8em !important;
  }

  .img-quote {
    width: 1700px;
    max-width: 200%;
  }
  .description-project {
    font-size: 1.15rem;
    max-width: 90%;
  }
}
