<div class="p-4">
    <div class="container">
        <div class="card mt-4">
            <h4 class="card-header">Users</h4>
            <button type="button" class="btn btn-primary" (click)="onNewUser()">New User</button>
            <div class="card-body" *ngIf="!loading">
                <div class="card-body text-dark bg-light" *ngIf="users">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">User Name</th>
                        </tr>
                        </thead>
                        <tbody  *ngFor="let user of users">
                        <tr>
                            <td>{{ user.Username }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-body text-white bg-danger" *ngIf="!users">
                    <h6>Nothing to show. Users didn't foud</h6>
                </div>            
            </div>
            <div class="card-body text-white bg-primary" *ngIf="loading">
                <h6>Loading...</h6>
            </div>
        </div>
    </div>
</div>