<!-- Image banner section start -->
<section class="container-fluid p-0">
  <div class="mt-5">
    <div class="banner-community d-flex align-items-end align-items-lg-center justify-content-center">
      <div class="banner_content container d-flex flex-column col-lg-10 text-center text-lg-start pb-4 p-lg-5 gap-2 gap-lg-3">
        <h2 class="banner_content-title m-0">{{ 'NAVBAR.Projects.Project_Footer' | translate }}</h2>
        <h3 class="banner_content-project m-0">{{ 'NAVBAR.Projects.Project_3' | translate }}</h3>
        <p class="banner_content-description m-0 col-lg-5">{{ 'PAGE_PROJECTS.Community_support.Paragraph_1' | translate }}</p>
        <a class="donate-btn" id="hover-link">
          <button class="btn btn-primary py-3 px-5 py-lg-2 px-lg-3" data-bs-toggle="modal"
          data-bs-target="#exampleModal">
          {{ 'PAGE_HOME.Donate' | translate }}
            <img class="ms-1 heart-vector" src="../../../assets/Image/home-page/heart-vector.svg" alt="heart-vector" loading="lazy">
          </button>
        </a>
      </div>
      <div class="banner_img d-none d-lg-block">
        <img class="mt-3" src="/assets/Image/Projects-images/community-support/banner_community.webp"
        alt="University banner" loading="lazy"/>
      </div>
      <div class="banner_img d-block d-lg-none">
        <img class="mt-3" src="/assets/Image/Projects-images/community-support/banner_community-mobile.webp"
        alt="University banner mobile" loading="lazy"/>
      </div>
    </div>
  </div>
</section>
<!-- Image banner section end -->

<!-- Boxes section start -->
<section class="container p-0 my-lg-5 py-lg-5">
  <div class="d-flex flex-column-reverse flex-lg-row-reverse container my-4 col-11 gap-4 gap-lg-0">
    <div class="d-flex flex-column align-items-center justify-content-center gap-3">
      <div class="col-lg-10 col-12 text-box">
        <div class="title-box mb-4">
          <h3 class="text-start tex-lg-center">{{ 'PAGE_PROJECTS.Community_support.Subjects.subject_1.title' | translate }}</h3>
        </div>
        <div class="description-box">
          <p class="text-start">
            {{ 'PAGE_PROJECTS.Community_support.Subjects.subject_1.description_1' | translate }}
          </p>
          <p class="text-start pt-lg-4">
            {{ 'PAGE_PROJECTS.Community_support.Subjects.subject_1.description_2' | translate }}
          </p>
        </div>
      </div>
    </div>
    <div class="image-box col-lg-6 col-12 px-0 text-center">
      <img src="/assets/Image/Projects-images/community-support/community_support-collaboration.webp" alt="Emotional Health" loading="lazy"/>
    </div>
  </div>

  <div class="d-flex flex-column-reverse flex-lg-row container my-4 col-11 gap-4 gap-lg-0">
    <div class="d-flex flex-column align-items-center justify-content-center gap-3">
      <div class="col-lg-10 col-12 text-box">
        <div class="title-box mb-4">
          <h3 class="text-start tex-lg-center">{{ 'PAGE_PROJECTS.Community_support.Subjects.subject_2.title' | translate }}</h3>
        </div>
        <div class="description-box">
          <p class="text-start">
            {{ 'PAGE_PROJECTS.Community_support.Subjects.subject_2.description_1' | translate }}
          </p>
          <p class="text-start pt-lg-4">
            {{ 'PAGE_PROJECTS.Community_support.Subjects.subject_2.description_2' | translate }}
          </p>
        </div>
      </div>
    </div>
    <div class="image-box col-lg-6 col-12 px-0 text-center">
      <img src="/assets/Image/Projects-images/community-support/community_support-progress.webp" alt="Emotional Health Image" loading="lazy"/>
    </div>
  </div>
</section>
<!-- Boxes section end -->

<!-- Banner section start -->
<shared-banner></shared-banner>
<!-- Banner section end -->

<!-- Paragraph Section Start -->
<section class="container-fluid section-paragraph">
  <div class="container col-12 col-lg-8 py-5">
    <div class="d-flex flex-column align-items-center justify-content-center my-lg-5 gap-3">
      <span class="text-quote text-center">“{{ 'PAGE_PROJECTS.Community_support.Quote.quote_phrase' | translate }}”</span>
      <p class="text-quote_author">{{ 'PAGE_PROJECTS.Community_support.Quote.quote_autor' | translate }}</p>
    </div>
  </div>
</section>
<!-- Paragraph Section End -->

<!-- Gallery Section Start -->
<section>
  <div class="container my-3 my-lg-0">
    <div class="d-flex flex-column align-items-center justify-content-center my-lg-5">
      <img class="img-gallery d-none d-lg-block" src="assets/Image/Projects-images/community-support/community_gallery.webp"
        alt="Special Education Gallery" loading="lazy">
      <img class="img-gallery d-block d-lg-none" src="assets/Image/Projects-images/community-support/community_gallery-mobile.webp"
        alt="Special Education Gallery" loading="lazy">
    </div>
  </div>
</section>
<!-- Gallery Section End -->

<!-- Projects Section Start -->
<section class="container-fluid p-0 section-projects_card">

  <div class="text-center d-flex flex-column align-items-center justify-content-center title-project py-5">
    <h3 class="text-center">{{ 'GENERAL.Other_projects' | translate }}</h3>
  </div>

  <div
    class="container col-lg-10 card-project d-flex flex-column justify-content-between align-items-center">
    <div class="d-flex flex-column flex-lg-row justify-content-evenly gap-4 gap-lg-3 mb-5">
      <a [routerLink]="['/projects/university']" class="text-decoration-none card-link">
        <div
          class="d-flex flex-row justify-content-center justify-content-lg-between align-items-center card-body gap-3 pe-3 pe-md-4">
          <div>
            <img src="../../../assets/Image/home-page/Cards-images/card-image-university.webp"
              class="card-img-top" alt="card-image-university" loading="lazy"/>
          </div>
          <div class="card-body-content d-flex flex-column align-items-start justify-content-center gap-2">
            <h4 class="card-title mb-0">{{ 'NAVBAR.Projects.Project_1' | translate }}</h4>
            <p class="card-text mb-0">
              {{ 'PAGE_PROJECTS.University_Page.Abreviation-desktop' | translate }}
            </p>
            <a [routerLink]="['/projects/university']" class="text-decoration-none link-card">
              {{ 'GENERAL.Learn_more' | translate }}
              <i class="ms-1 fa-solid fa-arrow-right"></i>
            </a>
          </div>
        </div>
      </a>

      <a [routerLink]="['/projects/special-education']" class="text-decoration-none card-link">
        <div
          class="d-flex flex-row justify-content-center justify-content-lg-between align-items-center card-body gap-3 pe-3 pe-md-4">
          <div>
            <img src="../../../assets/Image/home-page/Cards-images/card-image-special-education.webp" class="card-img-top"
              alt="card-image-special-education" loading="lazy" />
          </div>
          <div class="card-body-content d-flex flex-column align-items-start justify-content-center gap-2">
            <h4 class="card-title mb-0">{{ 'NAVBAR.Projects.Project_2' | translate }}</h4>
            <p class="card-text mb-0">
              {{ 'PAGE_PROJECTS.Special_education.Abreviation-desktop' | translate }}
            </p>
            <a [routerLink]="['/projects/special-education']" class="text-decoration-none link-card">
              {{ 'GENERAL.Learn_more' | translate }}
              <i class="ms-1 fa-solid fa-arrow-right"></i>
            </a>
          </div>
        </div>
      </a>

      <a [routerLink]="['/projects/mission-trip']" class="text-decoration-none card-link">
        <div
          class="d-flex flex-row justify-content-center justify-content-lg-between align-items-center card-body gap-3 pe-3 pe-md-4">
          <div>
            <img src="../../../assets/Image/home-page/Cards-images/card-image-mission-trip.webp" class="card-img-top"
              alt="card-image-mission-trip" loading="lazy" />
          </div>
          <div class="card-body-content d-flex flex-column align-items-start justify-content-center gap-2">
            <h4 class="card-title mb-0">{{ 'NAVBAR.Projects.Project_4' | translate }}</h4>
            <p class="card-text mb-0">
              {{ 'PAGE_PROJECTS.Student_mission.Abreviation-desktop' | translate }}
            </p>
            <a [routerLink]="['/projects/mission-trip']" class="text-decoration-none link-card">
              {{ 'GENERAL.Learn_more' | translate }}
              <i class="ms-1 fa-solid fa-arrow-right"></i>
            </a>
          </div>
        </div>
      </a>
    </div>
  </div>

</section>
<!-- Projects Section End -->

<!-- Contact Component Start -->
<app-contact-us></app-contact-us>
<!-- Contact Component End -->
